#
# This is free and unencumbered software released into the public domain.
#

# This param tells fortress what type of ldap server in use:
ldap.server.type=apacheds

# ldap host name
host=localhost

# ApacheDS default port:
port=10389

# If ApacheDS default, these credentials are used
admin.user=uid=admin,ou=system
admin.pw=secret

# This is min/max settings for admin pool connections:
min.admin.conn=1
max.admin.conn=10

# This node contains more fortress properties stored on behalf of connecting LDAP clients:
config.realm=DEFAULT
config.root=ou=Config,dc=example,dc=com

# Used by application security components:
perms.cached=true

# Fortress uses a cache:
ehcache.config.file=ehcache.xml

# This is min/max settings for LDAP administrator pool connections that have read/write access to all nodes under suffix:
min.admin.conn=1
max.admin.conn=10

# Default for pool reconnect flag is false:
enable.pool.reconnect=true

# (Optional Settings) Use if SSL Connection to LDAP Server needed:
#enable.ldap.ssl=true
#enable.ldap.ssl.debug=true
# for SSL hostname must match common name on server certificate:
# host=fortressdemo2.com
# OpenLDAP default LDAPS port:
# port=636
# Truststore needed to store certificate matching the hostname of server machine.
#trust.store=/path/to/my/mytruststore
#trust.store.password=changeit
#trust.store.onclasspath=false

# (Optional settings) Used if connecting with Fortress Rest needed instead of LDAPv3:
#enable.mgr.impl.rest=true
# If using EnMasse, these parameters needed:
#http.user=demouser4
#http.pw=gX9JbCTxJW5RiH+otQEX0Ja0RIAoPBQf
#http.host=localhost
#http.port=8080
